psutil
os-sys
tqdm
tk
argparse
pyperclip
traceback
virustotal-api
yara-python
shutil
time
watchdog
wmi
reportlab
plyer
win10toast
pefile
reportlab
customtkinter
scikit-learn
pandas
requests
Pillow
